<div>
  <h2 id="page-heading" data-cy="RattachementHeading">
    <span jhiTranslate="rattachementApp.habilitationRattachement.home.title">Rattachements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rattachementApp.habilitationRattachement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rattachement"
        [routerLink]="['/rattachement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rattachementApp.habilitationRattachement.home.createLabel"> Create a new Rattachement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rattachements?.length === 0">
    <span jhiTranslate="rattachementApp.habilitationRattachement.home.notFound">No rattachements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="rattachements && rattachements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="idDemande">
            <span jhiTranslate="rattachementApp.habilitationRattachement.idDemande">Id Demande</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="compte">
            <span jhiTranslate="rattachementApp.habilitationRattachement.compte">Compte</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="rattachementApp.habilitationRattachement.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descriptionRole">
            <span jhiTranslate="rattachementApp.habilitationRattachement.descriptionRole">Description Role</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <span jhiTranslate="rattachementApp.habilitationRattachement.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateMaj">
            <span jhiTranslate="rattachementApp.habilitationRattachement.dateMaj">Date Maj</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rattachement of rattachements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rattachement', rattachement.id, 'view']">{{ rattachement.id }}</a>
          </td>
          <td>{{ rattachement.idDemande }}</td>
          <td>{{ rattachement.compte }}</td>
          <td jhiTranslate="{{ 'rattachementApp.Status.' + rattachement.status }}">{{ rattachement.status }}</td>
          <td>{{ rattachement.descriptionRole }}</td>
          <td>{{ rattachement.dateCreation | formatMediumDatetime }}</td>
          <td>{{ rattachement.dateMaj | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/rattachement', rattachement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/rattachement', rattachement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(rattachement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="rattachements && rattachements.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
